# Cross-compilation configuration
# https://github.com/cross-rs/cross

[build.env]
passthrough = [
    "OPENSSL_NO_VENDOR",
    "OPENSSL_DIR",
    "OPENSSL_STATIC",
    "OPENSSL_LIB_DIR",
    "OPENSSL_INCLUDE_DIR",
]
