<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    {{> summary}}
    {{> tree}}
    {{> treemap}}
    {{> oracle}}
    {{> coverage}}
    {{> graph-insights}}
    {{> impact-analysis}}
    {{> clone-analysis}}
    {{> footer}}
</body>
</html>
